# shellcheck shell=bash
missing() {
    ! command -v "$1" >/dev/null 2>&1
}

set -e
bold="$(tput bold)"
green="$(tput setaf 2)"
reset="$(tput sgr0)"

if missing pre-commit; then
    echo >&2 "You're missing pre-commit. Install it with brew install pre-commit"
    return 1
fi
# If installed, it executes very fast
pre-commit install
# Convenient if you want secrets to load (e.g. personal token, Github webhook secret) or override values from env.development
dotenv_if_exists .env

if [ ! -d venv ]; then
    python3 -m venv venv
    venv/bin/pip install wheel
    venv/bin/pip install -r requirements.txt
    venv/bin/pip install -r requirements.dev.txt
fi

source venv/bin/activate
echo "${green}${bold}SUCCESS!${reset}"

# shellcheck disable=SC2006
echo "You can run flask run to start the service up"

# https://github.com/direnv/direnv/wiki/PS1
unset PS1
